.buttons .button {
	margin-bottom: 0px;
}

.button.is-small,
.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
	border-radius: 3px;
}

.level:not(:last-child),
.buttons:not(:last-child) {
	margin-bottom: 0px;
}

html {
	overflow-y: auto;
}

.buttons:last-child {
    margin-bottom: 0px;
}


@media(max-width: 768px)
{
	.button {
		font-size: inherit !important;
		height: inherit;

		padding-bottom: calc(0.2em - 1px);
		padding-left: 0.6em;
		padding-right: 0.6em;
		padding-top: calc(0.2em - 1px);
	}

}


