#editor {
	height: 100%;
	
	background-color: #e2e2e2;
	
	display: flex;
	flex-direction: column;
}

.inline {
	display: inline;
}

::selection {
	background: #424242cc;
	color: #fff;
}

body {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0;
	display: flex;
	flex-direction: column;
}

div {
	font-family: 'Consolas', '微软雅黑', 'Open Sans', 'Helvetica', 'Tahoma, Arial', 'Hiragino Sans GB', "Microsoft YaHei", "Micro Hei", 'SimSun', "宋体", 'Heiti', "黑体", 'sans-serif';
	font-size: 14px;
}

input[type=text],input[type=password] {
	border: 2px solid #dfdfe0;
	color: #7b7b7b;
	background-color: #ffffff;
	padding-left: 10px;
	border-radius: 5px;
	width: 160px;
	
	transition: all 0.2s;
}
input[type=text]:focus {
	border-color: #02caea;
	outline: none;
}
input[type=password]:focus {
	border-color: #ffbc85;
	outline: none;
}


@media(max-width: 768px)
{
	div {
		font-size: 1.2rem;
	}
}