.scroll-bar{
	overflow-y: auto;
	overflow-x: auto;
}

.scroll-bar::-webkit-scrollbar {
	width: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: #00000033;
}

.scroll-bar::-webkit-scrollbar-track {
	/* border-radius: 4px; */
	background: #ccccccbb;
}

.scroll-bar:hover::-webkit-scrollbar-thumb{
	background-color: #00000066;
}
